body {
    background-color: aliceblue;
}

#logo {
    padding-top: 38px;
    padding-bottom: 1px;

}

#logo img {
    width: 200px;
    height: 210px;
}

#centerButtons {

    width: 26%;

}


#eventbanner {
    background-image: url(../images/banner4.png);
    height: 340px;
    /* width: 100vw; */
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;


}

.eventbody {
    height: 100vh;

}

.eventbody p,
h1 {
    color: white;
    align-content: center;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #7788c9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}