body {
    background-color: black;
}

#navBar {
    width: 100%;
    height: 7vh;
    background-color: #948fb3;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902621.jpg);
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    filter: drop-shadow(-5px 5px 5px #000000);




}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo img {
    height: 150px;
    align-items: center;
}

#centerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding: 10px;
}

.navBtn {
    color: black;
    font-size: 13px;
    font-family: font_monday_feelings;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #b8b3fb;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    width: fit-content;

    filter: drop-shadow(-3px 3px 0px #000000);
    transition-duration: 0.5s;
    opacity: 0.5;

}

.navBtn:hover {
    filter: drop-shadow(-1px 1px 0px #000000);
    transform: translate(-2px, 2px);

}

@font-face {
    font-family: font_monday_feelings;
    src: url(../fonts/MondayFeelings-7BD2l.ttf);
}




.gifshow {
    background-image: url(../images/a207dd_b2df2913ba374ac3a57288dd49ea7809~mv2.gif);
    background-size: cover;
    height: 90vh;
    filter: contrast(110%);
    opacity: 0.6;
    position: relative;
    z-index: -2;


}

.gifindexlogocontainer {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: -550px;


}

.gifindexlogo {
    opacity: 1 !important;
    width: 400px;



    /* top: 47vh;
    left: 37vw; */
    align-content: center;
    /* margin-left: 940px;
    margin-top: 560px; */
    margin-left: auto;
    margin-right: auto;
    filter: brightness(110%);
    z-index: 2;
}



.welcomehome {
    background-image: url(../images/87c110f50349c3738a9ac0797246762f.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 30vh;
    opacity: 1;
    filter: brightness(100%);
}